


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     <ul class="nav navbar-nav navbar-left">
        <li id="order-size"><span><b>Order Tracking</b></span></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-center">
        <li id="order-size"><span> Order {{data.track_id}}</span></li>
	</ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://my.nemlevering.dk/"><b>Home</b></a></li>
      <li><a href="http://help.nemlevering.dk/"><b>Questions</b></a></li>
	</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


