/*@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}*/

#order-size{
    font-size: 15px;
    margin-top: 12px;
    margin-left: 15px;
}