<div class="container" *ngIf="delivery">
  <h1 style="" class="header">
    {{getLanguageText("reschedule_order")}} {{delivery.deliveryid}}
  </h1>
  <div class="content-margin">
    <div class="row">
      <div class="col-lg-5">
        <div class="carrier-container">
          <img class="imgThumb1" src="assets/images/user.png">
          <div *ngIf="delivery.carrier" class="carrier-name">
            {{delivery.carrier.name}}
          </div>
          <div class="carrier-phone" *ngIf="delivery.carrier">
            {{delivery.carrier.phone}}
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="custom-heading">{{getLanguageText("destination")}}</div>

        <div class="destination-text custom-panel">
          {{delivery.deliveryaddress + ", " + (delivery.area && delivery.zone ? delivery.area+ delivery.zone+ ", "
          : '') + delivery.deliveryzip + ", " + delivery.deliverycity}}
        </div>
        <div class="delivery-details row">
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("delivery_date")}}</div>
            <div class="custom-panel">{{delivery.deliverydate | datetime:"DD-MM-YYYY"}}</div>
          </div>
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("delivery_time")}}</div>
            <div class="custom-panel">{{delivery.estimated_delivery_time ? delivery.estimated_delivery_time :
              delivery.deliverywindowstart
              +
              "-" + delivery.deliverywindowend}}
            </div>
          </div>
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("status")}}</div>
            <div class="custom-panel">{{getStatus(delivery.status).description}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="change-date-container">
    <div class="divider"></div>
    <h2 class="h2-header">
      {{getLanguageText("reschedule")}}
    </h2>

    <div class="font-weight-bold change-date-title">{{getLanguageText("change_the_delivery_date_to")}}</div>
    <div class="week-blocks justify-content-center">
      <div class="week-block d-flex" style="width: unset">
        <a class="d-flex" href="javascript:void(0);" (click)="prevWeek()" style="text-decoration: none;"><em class="fa fa-3x fa-angle-left"></em></a>
        <h1 class="mr-3 ml-3 week-body">Week {{currentWeekNumber}}</h1>
        <a class="" href="javascript:void(0);" (click)="nextWeek()"  style="text-decoration: none;"><em class="fa fa-3x fa-angle-right"></em></a>
      </div>
    </div>
    <div class="date-blocks justify-content-center">
      <div class="date-block " *ngFor="let block of dateBlocks" [ngClass]="{active: block.active}" (click)="setActiveDate(block.id)">
        <div class="day-name">{{block.dayName}}</div>
        <div class="day">{{block.day}}</div>
        <div class="month-name">{{block.monthName}}</div>
      </div>
    </div>
    <div class="font-weight-bold change-date-title">{{getLanguageText("change_the_delivery_time_to")}}</div>

    <div class="d-flex">
      <a class="align-middle pr-5" style="padding-top:50px" href="javascript:void(0)" (click)="moveLeft()"><em class="fa fa-3x fa-angle-left"></em></a>
      <drag-scroll #nav class="date-blocks">
        <div drag-scroll-item class="date-block" *ngFor="let block of timeBlocks" [ngClass]="{active: block.active}"
          (click)="setActiveTime(block.id)">
          <div class="month-name">{{block.fromTimeHour}}:{{block.fromTimeMin}}</div>
          <div class="day-name">and</div>
          <div class="month-name">{{block.toTimeHour}}:{{block.toTimeMin}}</div>
        </div>
      </drag-scroll>
      <a class="align-middle pl-5" style="padding-top:50px" href="javascript:void(0)" (click)="moveRight()"><em class="fa fa-3x fa-angle-right"></em></a>
    </div>
    
    <div class="delivery-buttons">
      <button class="custom-red-button" [disabled]="disabledActions" (click)="reschedule(result_reschedule_modal)">
        {{getLanguageText("reschedule")}}
      </button>
      <button class="custom-red-button not-filled" (click)="goBack()">
        {{getLanguageText("cancel")}}
      </button>
    </div>
  </div>


  <ng-template #result_reschedule_modal let-c="close" let-d="dismiss">
    <div id="change-address-modal-result" class="change-address-popup">
      <div class="modal-header">
        <div class="green-circle">
          <div class="box-inside"></div>
        </div>
        <h4 class="modal-title text-center"> {{getLanguageText("successfully_rescheduled")}}</h4>
        <h4 class="modal-title text-center"> {{getLanguageText("your_order")}} {{delivery.deliveryid}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="result-header text-center">{{getLanguageText("you_will_receive_your_package_on")}}</div>
        <div class="row">
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("delivery_date")}}</div>
            <div class="custom-panel">{{delivery.deliverydate | datetime:"DD-MM-YYYY"}}</div>
          </div>
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("delivery_time")}}</div>
            <div class="custom-panel">{{delivery.deliverywindowstart + "-" + delivery.deliverywindowend}}
            </div>
          </div>
        </div>

        <div class="text-center">
          <button class="custom-red-button not-filled" (click)="goTrack(); c()">
            {{getLanguageText("track")}}
          </button>
        </div>
      </div>
    </div>
  </ng-template>