<div class="container" *ngIf="delivery">

  <h1 class="header" style="text-align: center"  *ngIf="delivery.estimated_delivery_time && delivery.status != 1 && delivery.status != 3">
    <!--{{getLanguageText("delivery_arrival_time")}} {{delivery.estimated_delivery_time}}-->
    {{getLanguageText("delivery_arrival_client")}} {{delivery.client.name}} {{getLanguageText("delivery_arrival_commer")}} kl. {{delivery.estimated_delivery_time}}
  </h1>
  <h1 class="header" style="text-align: center"  *ngIf="!delivery.estimated_delivery_time && delivery.status != 1 && delivery.status != 3">
    <!--{{getLanguageText("delivery_arrival_time")}} {{delivery.deliverywindowend}}-->
    {{getLanguageText("delivery_arrival_client")}} {{delivery.client.name}} {{getLanguageText("delivery_arrival_commer")}} kl. {{delivery.deliverywindowend}}
  </h1>
  <h1 class="header" style="text-align: center"  *ngIf="delivery.status == 3">
    {{getLanguageText("delivered_arrival_client")}} {{delivery.delivered_at?('kl.' + delivery.delivered_at):''}}
  </h1>

  <div class="content-margin">
    <div class="row">
      <div class="col-lg-5">
        <div *ngIf="delivery.carrier && !isStart30min()" class="carrier-container">
            <div class="custom-heading">
            {{getLanguageText("supplied_by")}}
            </div>
          <img class="imgThumb1" src="assets/images/user.png" *ngIf="delivery.carrier">
          <div *ngIf="delivery.carrier" class="carrier-name">
            {{delivery.carrier.name}}
          </div>
          <div class="carrier-phone" *ngIf="delivery.carrier">
            {{delivery.carrier.phone}}
          </div>
        </div>

        <!-- client info before 30 min to start for client -->
        <div *ngIf="isStart30min()" class="carrier-container">
          <div class="custom-heading">
            {{getLanguageText("custom_support")}}
          </div>
          <img class="imgThumb1" src="assets/images/user.png" *ngIf="delivery.client">
          <div *ngIf="delivery.client" class="carrier-name">
            {{delivery.client.name}}
          </div>
          <div class="carrier-phone" *ngIf="delivery.client">
            <!-- {{delivery.client.phone}} -->
            {{delivery.client.supportPhone}}
          </div>
          <div class="carrier-phone" *ngIf="delivery.client">
            <!-- {{delivery.client.email}} -->
            {{delivery.client.supportEmail}}
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="custom-heading">{{getLanguageText("destination")}}</div>

        <div class="destination-text custom-panel">
          {{delivery.deliveryaddress + ", " + (delivery.area && delivery.zone ? delivery.area+ delivery.zone+ ", "
          : '') + delivery.deliveryzip + ", " + delivery.deliverycity}}
        </div>
        <div class="delivery-details row">
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("delivery_date")}}</div>
            <div class="custom-panel">{{delivery.deliverydate | datetime:"DD-MM-YYYY"}}</div>
          </div>
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("delivery_time")}}</div>
            <!-- <div class="custom-panel"  *ngIf="delivery.estimated_delivery_time" >{{delivery.estimated_delivery_time }}
            </div> -->
            <div class="custom-panel"  *ngIf="delivery.deliverywindowstart" >{{delivery.deliverywindowstart}} - {{delivery.deliverywindowend}}
            </div>
            <div class="custom-panel"  *ngIf="!delivery.deliverywindowstart" > 08:00 - 16:00
            </div>

          </div>
          <div class="col-sm">
            <div class="custom-heading">{{getLanguageText("status")}}</div>
            <div class="custom-panel">{{getLanguageText(getStatus(delivery.status).langKey)}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="delivery-buttons" [hidden]="!reschedule_button">
    <button *ngIf="delivery.status!=3" ng-disabled="smsRequested&&!smsConfirmed" class="custom-red-button" (click)="confirmPhoneView(confirm_phone_modal, null)">{{getLanguageText("reschedule")}}</button>
    <button *ngIf="delivery.status!=3 && delivery.allow_delivery_address === true" ng-disabled="smsRequested&&!smsConfirmed" class="custom-red-button not-filled"
            (click)="confirmPhoneView(confirm_phone_modal, change_address_modal)">
      {{getLanguageText("change_delivery_address")}}
    </button>
    <button *ngIf="delivery.status!=3" class="custom-red-button not-filled" (click)="confirmNoteView(confirm_note_modal, change_note_modal)">
      {{getLanguageText("delivery_instruction")}}
    </button>
    <button *ngIf="delivery.status==3" class="custom-red-button" (click)="gotoRatingFeedback(delivery._id)">
      {{getLanguageText("rating_feedback")}}
    </button>
    <p *ngIf="delivery.status==3" style="text-align: center">Rate your experience</p>

  </div>
  <h2 class="h2-header">
    {{getLanguageText("track_shipment_live")}}
  </h2>
</div>

<div id="routemap" #routemap></div>
<p id="map_error" class="red">{{mapError}}</p>

<div class="container" *ngIf="delivery">
  <div class="shipment-details">
    <h2 class="h2-header">
      {{getLanguageText("shipment_details")}}
    </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="custom-heading">{{getLanguageText("client_name")}}</div>
        <div class="custom-panel custom-ellipse-word">{{delivery?.client.name}}</div>
      </div>
      <div class="col-lg-4">
        <div class="custom-heading">{{getLanguageText("ordered_on")}}</div>
        <div class="custom-panel">{{delivery.updated | datetime:"DD-MM-YYYY"}}</div>
      </div>
      <div class="col-lg-4">
        <div class="custom-heading">{{getLanguageText("no_of_items")}}</div>
        <div class="custom-panel">{{delivery.deliverynumberofpackages}} {{delivery.deliverynumberofpackages == 1 ? " " +
          getLanguageText("item") : " " + getLanguageText("items")}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="custom-heading">{{getLanguageText("email")}}</div>
        <div class="custom-panel">{{delivery.status==1||delivery.status==2?delivery.client.supportEmail:supportEmail}}</div>
      </div>
      <div class="col-lg-4">
        <div class="custom-heading">{{getLanguageText("phone")}}</div>
        <div class="custom-panel">{{delivery.status==1||delivery.status==2?delivery.client.supportPhone:supportPhone}}</div>
      </div>
      <div class="col-lg-4">
        <div class="custom-heading"></div>
        <div class="custom-panel"></div>
      </div>
    </div>
  </div>


  <div class="shipment-status" *ngIf="events">
    <h2 class="h2-header">
      {{getLanguageText("shipment_status")}}
    </h2>
    <div>
      <div>
        <div class="row bs-wizard">
          <div class="col-sm bs-wizard-step complete">
            <div class="progress">
              <div class="progress-bar {{delivery.status == 1 ? 'middle' : ''}}"></div>
            </div>
            <span class="bs-wizard-dot first"><i class="fa fa-check"></i></span>
            <div class="bs-wizard-info text-left">{{getLanguageText("ordered")}}</div>
          </div>

          <div class="col-sm bs-wizard-step"
               [ngClass]="{disabled: delivery.status < 2, complete: delivery.status >= 2 }">
            <div class="progress">
              <div class="progress-bar {{delivery.status == 2 ? 'middle' : ''}}"></div>
            </div>
            <span class="bs-wizard-dot"><i class="fa fa-check"></i></span>
            <div class="bs-wizard-info text-center">{{getLanguageText("picked_up")}}</div>
          </div>


          <div class="col-sm bs-wizard-step"
               [ngClass]="{disabled: delivery.status < 3, active: delivery.status === 3 }">
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="bs-wizard-dot last"><i class="fa fa-check"></i></span>
            <div class="bs-wizard-info text-right">{{getLanguageText("delivered")}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Timelines-->
  <!--<div class="tracking-details" *ngIf="events">
    <h2 class="h2-header">
      {{getLanguageText("tracking_details")}}
    </h2>
    <ul class="list-unstyled delivery-detail__progress ">
      <li class="clearfix" *ngFor="let event of events">
        <div class="delivery-progress-time">{{event.created_at | datetime:"dddd, DD-MM-YYYY, hh:mm a"}}</div>
        <div class="delivery-progress-info">
          <p class="delivery-progress-info-title">{{getEventMessage(event)}}</p>
        </div>
      </li>
    </ul>
  </div>-->

  <!--
    <div class="col-md-12 ">
        <hr class="delivery-detail__divider ">
    </div>
    <div class="col-md-12">
        <div class="delivery-detail__tracking">
            <ul class="list-unstyled delivery-detail__progress">
                <li class="clearfix" *ngFor="let event of events">
                    <div class="delivery-progress-time">{{event.created_at | datetime:"dddd, DD-MM-YYYY, hh:mm a"}}</div>
                    <div class="delivery-progress-info" *ngIf="!event.claim">
                        <p class="delivery-progress-info-title">
                            <span>{{getEventMessage(event)}}</span>-->
                            <!--<button *ngIf="event.event=='NOTIFICATION_SENT'" class="btn btn-link notification-detail-btn" data-toggle="modal" data-target="#showNotificationModal" ng-click="model.setNotificationData(event)">( {{'delivery_details.detail' | translate}} )
                            </button>-->
  <!--                      </p>
                    </div>
                    <div class="delivery-progress-info" *ngIf="event.claim">
                        <p class="delivery-progress-info-title">
                            <span>{{showClaim[event.ClaimType]}}</span>-->
                            <!--<button ng-if="model.hasContent(event)" class="btn btn-link claim-detail-btn" data-toggle="modal" data-target="#showClaimModal" ng-click="model.showCliamDetail = event;">( {{'delivery_details.detail' | translate}} )
                            </button>-->
  <!--                      </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>-->
</div>

<ng-template #confirm_note_modal let-c="close" let-d="dismiss">
  <div id="confirm-note-modal" class="change-address-popup">
    <div class="modal-header">
      <h4 class="modal-title text-center">{{getLanguageText('delivery_instruction')}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea rows="6" class="form-control" [(ngModel)]="delivery_note" id="delivery_note"></textarea>
      <div>
        <input type="checkbox" class="custom-checkbox" [(ngModel)]="delivery_note_applyall">
        <div class="custom-checkbox-text">{{getLanguageText('note_apply_all')}}</div>
      </div>
      <div class="row modal-buttons">
        <button class="custom-red-button" (click)="confirmNote()">{{getLanguageText("confirm")}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirm_phone_modal let-c="close" let-d="dismiss">
  <div id="confirm-phone-modal" class="change-address-popup">
    <div class="modal-header">
      <h4 class="modal-title text-center">{{(checkedPhoneNumber) ? (getLanguageText('input_phone_sms_number')) : (getLanguageText('input_phone_number'))}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input placeholder="xxxxxx" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
             class="form-control" [(ngModel)]="user_input_number" id="confirm-phone-number">

      <div class="row modal-buttons">
        <button class="custom-red-button" *ngIf="!checkedPhoneNumber" (click)="confirmPhone()">{{getLanguageText("confirm")}}</button>
        <button class="custom-red-button" *ngIf="checkedPhoneNumber" (click)="confirmPhoneSMS()">{{getLanguageText("confirm")}}</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #change_address_modal let-c="close" let-d="dismiss">
  <div id="change-address-modal" class="change-address-popup" [hidden]="modalChangedView">
    <div class="modal-header">
      <h4 class="modal-title text-center"> {{getLanguageText("edit_delivery_address")}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
             class="form-control" [(ngModel)]="destination" id="change-address-autocomplete">

      <div class="row modal-buttons">
        <button class="custom-red-button" (click)="changeAddress()">{{getLanguageText("save")}}</button>
        <button class="custom-red-button not-filled" (click)="c()">{{getLanguageText("cancel")}}</button>
      </div>
    </div>
  </div>

  <div id="change-address-modal-result" class="change-address-popup" [hidden]="!modalChangedView">
    <div class="modal-header">
      <div class="green-circle">
        <div class="box-inside"></div>
      </div>
      <h4 class="modal-title text-center"> {{getLanguageText("successfully_rescheduled")}}</h4>
      <h4 class="modal-title text-center"> {{getLanguageText("your_order")}} {{delivery.deliveryid}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="result-header text-center">{{getLanguageText("new_address_of_this_delivery")}}</div>
      <div class="result-body text-center">{{destination}}</div>
    </div>
  </div>


</ng-template>

