
    <!-- <app-header></app-header> -->
<div>
        <div class="content">
            <section>
                <router-outlet></router-outlet>
            </section>
        </div>
   <!--  <ams-footer></ams-footer> -->
</div>
