/* You can add global styles to this file, and also import other style files */

.pac-container {
  z-index: 9999;
}

.clear {
  clear: both;
}

.imgThumb {
  width: 20px;
  height: 20px;
  margin-left: -10px;
}

.imgThumb1 {
  width: 150px;
  height: 150px;
}

.myheader {
  margin-left: 40px;
}

.panel-body {
  padding: 5px;
}

.panel-heading {
  font-size: 20px;
  color: #5c5c5c;
  padding: 5px;
}

.link {
  margin-top: 40px;
}

.panel {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 90px;
  font-size: 13px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ngui-map {
  height: 420px;
  width: 800px;
  position: absolute;
}

@media (min-width: 768px) {
  .grid-divider {
    position: relative;
    padding: 0;
  }
  .grid-divider > [class*='col-'] {
    position: static;
  }
  .grid-divider > [class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .col-padding {
    padding: 0 15px;
  }

}

@media only screen and (max-width: 420px) {
  .grid-divider {
    margin-left: 50px;
  }

  .imgThumb1 {
    text-align: center;
    margin-left: 20px;
  }
  .res-number {
    margin-bottom: 50px;
    text-align: center;
  }
  .res-name {
    text-align: center;
  }
  .res-del {
    text-align: center;
  }
}

.bs-wizard {
  margin-top: 40px;
}

.bs-wizard {
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 16px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 33px;
  height: 33px;
  display: block;
  background: #82d43d;
  border: 1px solid white;
  top: 25px;
  margin-top: -13px;
  border-radius: 50%;
  left: 46%;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  &.first {
    left: -4px;
  }
  &.last {
    left: auto;
    right: -4px;
  }
}

.bs-wizard > .bs-wizard-step > .bs-wizard-adddot {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: #f5f5f5;
  top: 25px;
  margin-top: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 25px;
  box-shadow: none;
  margin: 17px 0;
  background: #fff;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0;
  box-shadow: none;
  background: #82d43d;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;

  &.middle {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #fff;
  border: 2px solid #82d43d;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  width: 100%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*
NEW
*/

.row {
  margin: 0;
}

h1.header {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.carrier-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.carrier-phone {
  margin-top: 10px;
  font-size: 23px;
}

.destination-text {
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 700;
}

.content-margin {
  overflow: hidden;
  margin: 100px 0;
  .col-lg-7 {
    padding-top: 30px;
  }
}

.carrier-container {
  max-width: 300px;
  text-align: center;
}

.custom-heading {
  font-size: 20px;
  color: #5c5c5c;
}

.custom-panel {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

/* ellipse the word */
.custom-ellipse-word {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.delivery-details, .shipment-details {
  margin-top: 50px;
  .col-lg-4 {
    padding: 0;
  }
}

.delivery-buttons {
  text-align: center;
  margin-bottom: 100px;
}

.custom-red-button {
  background: #ef0000;
  border: 2px solid #ef0000;
  margin: 0 10px;
  padding: 20px 35px;
  border-radius: 40px;
  min-width: 250px;
  color: white;
  font-size: 20px;
  outline: none;
  &:disabled {
    background: rgba(157, 157, 157, 0.3);
    border: 2px solid transparent;
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
  }
}

.custom-red-button:hover {
  cursor: pointer;
}

.custom-red-button.not-filled {
  background: #fff;
  color: #000;
}

h2.h2-header {
  font-size: 45px;
  color: #595959;
  margin-bottom: 30px;
}

#routemap {
  height: 600px;
  margin-top: 30px;
}

.shipment-details {
  margin-bottom: 100px;
  .row {
    margin-bottom: 10px;
  }
}

.tracking-details {
  margin-bottom: 100px;
}

.shipment-status {
  margin-bottom: 100px;
}

.delivery-detail__progress {
  position: relative;
  list-style: none;
  margin-bottom: 20px;
  li {
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #82d43d;
    padding-bottom: 20px;
    padding-top: 0;
    font-size: 16px;
    &:last-child {
      &:before {
        border: 1px solid #82d43d;
        background: #fff;
      }
      padding-bottom: 0px;
      border-left: 2px solid #fff;
    }
    &:before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      top: 0;
      left: -11px;
      background: #82d43d;
    }

    &.is-done {
      &:before {
        background: #e53e41;
      }
      border-left: 2px dotted #e53e41;
    }

  }
}

.delivery-progress-time {
  color: rgba(157, 157, 157, 0.82);
}

.delivery-progress-info {
  font-weight: bold;
  font-size: 20px;
}

.delivery-detail-container .delivery-progress-info-title {
  font-weight: 700;
  color: #28282e;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.col-sm {
  padding-left: 0;
  padding-right: 0;
}

.change-address-popup {
  .custom-red-button {
    padding: 15px 20px;
    min-width: 150px;
  }
  .modal-buttons {
    justify-content: center;
    margin-top: 50px;
  }
  .modal-header {
    .green-circle {
      width: 70px;
      height: 70px;
      background: white;
      border: 3px solid #82d43d;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .box-inside {
        width: 25px;
        height: 25px;
        background: green;
      }
    }
    border: 0;
    display: block;
    position: relative;
    padding-top: 40px;
    color: #595959;
    justify-content: center;
    button.close {
      top: 10px;
      position: absolute;
      right: 10px;
    }
  }
  .modal-body {
    margin-bottom: 50px;
    input {
      max-width: 400px;
      margin: 0 auto;
      min-height: 80px;
    }
  }
}

#change-address-modal-result {
  .modal-header {
    .modal-title {
      color: #82d43d;
    }
  }
  .modal-body {
    .result-header {
      font-weight: bold;
    }
    .result-body {
      margin-top: 20px;
    }
  }
}

.divider {
  width: 100%;
  height: 2px;
  background: rgba(128, 128, 128, 0.1);
}

.change-date-container {
  padding: 10px 15px;
  margin-top: 30px;
  .change-date-title {
    margin: 10px 0;
    font-size: 20px;
    color: #595959;
  }
}

.date-blocks {
  display: flex;
  width: 100%;
  margin: 20px 0;
  .date-block {
    &.active {
      background: rgba(186, 233, 141, 0.56);
      color: rgba(82, 133, 29, 0.8);
      border-color: rgba(159, 223, 101, 0.56);
    }
    &:hover {
      cursor: pointer;
      color: rgba(159, 223, 101, 0.8);
      border-color: rgba(159, 223, 101, 0.8);
    }
    padding: 15px;
    text-align: center;
    width: 120px;
    color: rgba(171, 170, 171, 0.7);
    border: 1px solid rgba(171, 170, 171, 0.5);
    border-radius: 15px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    .day-name {
      font-size: 20px;
    }
    .day {
      font-size: 33px;
      margin-top: 5px;
      line-height: 30px;
      font-weight: bold;
    }
    .month-name {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.week-blocks {
  display: flex;
  width: 100%;
  margin: 20px 0;
  text-align:center;
  .week-block {
    padding: 10px;
    text-align: center;
    width: 120px;
    color: rgba(0, 0, 0, 0.7);
    
    .week-body {
      font-size: 40px;
    }
  }
}

.time-container {
  display: flex;
  line-height: 113px;
  > span {
    margin-right: 20px;
  }
  ngb-timepicker:not(:last-child) {
    margin-right: 50px;
  }
}

#change-address-modal-result {
  .modal-body {
    .row {
      text-align: center;
      margin: 30px;
      .custom-heading {
        font-size: 16px;
      }
      .custom-panel {
        font-size: 16px;
      }
    }
  }
}
